body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #a3a0a0;/*#87828d;*/
    background-image: linear-gradient(315deg, #6617cb 0%, 74%#cb218e, 74%);
    /*max-width: 750px;*/
    margin: auto;
    text-align: center;
    min-width: 320px;
    font-weight: bold;
    color: white;
}

#title {
    text-align: center;
    letter-spacing: 2px;
}

.surveybox {
    background: #6e6d6e;        /*#dad2d9;*/
    border: 2px solid white;
    border-radius: 4px;
    font-size: medium;
    margin: auto;
    width: 750px;
    padding-top: 25px;
}

form {
    text-align: center;
    width: 90%;
    margin: auto;
}

#form-outside {
    margin: 0 auto;
    border-radius: 3px;
    padding: 15px;
    
    width: 80%;
    max-width: 800px;
}

i {
    color: white;
}

.itemRows  {
    display: inline-flex;
    justify-content: center;
    padding: 5px 5px;
}

.labels {
    display: inline-block;
    text-align: right;
    margin-top: 5px;
    vertical-align: top;
}

#helpbox {
    display: inline-block;
    text-align: justify;
}

.inputboxes {
    padding-left: 8px;
}

button {
    background: white;      /*#dad2d9;*/
    color: #6e6d6e;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
    border: 2px solid #5e5b5e;
    border-radius: 4px;
}
